<div class="example-container">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">mxGraph Angular Playground</h1>
  </mat-toolbar>
  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav mode="side" opened style="width: 270px">
      <app-item-list></app-item-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-mxgraph></app-mxgraph>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
